.aboutProjectSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem 50rem 8rem 8rem;
}

.aboutProjectSection h1 {
  font-size: 3rem;
}

.aboutProjectSection p {
  line-height: 1.8rem;
  text-align: justify;
}

.techStackSection {
  background-color: var(--background-alternative);
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0rem;
}