#numero {
    font-size: 10rem;
    display: block;
    text-align: center;
    font-family: helvetica;
}

#div {
    text-align: center;
}

#botaoMais, #botaoMenos, #botaoReset {
    font-size: 1.5rem;
    color: white;
    background-color: rgba(69, 69, 238, 0.815);
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
